body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* Global background gradient */
.app-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    135deg,
    #fdfcfb 0%,
    #f3e7e9 20%,
    #e3eeff 40%,
    #e7f0fd 60%,
    #fef6e4 80%,
    #fdfcfb 100%
  );
  background-attachment: fixed;
  background-size: cover;
  pointer-events: none;
}

.Toastify__toast--error {
  color: rgba(23, 115, 102, 0.95) !important; /* text color */
}

.Toastify__progress-bar--error {
  background: rgba(23, 115, 102, 0.95) !important; /* progress bar */
}

.Toastify__icon--error svg {
  fill: rgba(23, 115, 102, 0.95) !important; /* icon fill */
  stroke: rgba(23, 115, 102, 0.95) !important; /* icon stroke */
}

